
@{
    ViewBag.Title = "AddForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form action="" class="form-horizontal form-bordered form-row-stripped" method="post" id="forms">
    <div class="row">
        <input type="hidden" name="op" value="add">
        <div class="form-group">
            <label class="control-label col-md-3">留言主題</label>
            <div class="col-md-9">
                <input type="text" placeholder="請填寫主題" class="form-control" id="message_title" name="message_title" value="" />
            </div>
        </div>
        <div class="form-group last">
            <label class="control-label col-md-3">內文</label>
            <div class="col-md-9">
                <textarea placeholder="" class="form-control" id="message_content" name="message_content" rows="5"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3"></label>
            <div class="col-md-9">
                <button type="submit" class="btn green"><i class="fa fa-check"></i> 送出</button>
            </div>
        </div>
    </div>
</form>



